# log php errors
php_flag log_errors on
php_value error_log logs/php-errors.log

# prevent access to error logs
<FilesMatch "\.(log)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

# prevent access to any files ending in .htaccess or .file
<FilesMatch "\.(htaccess|file)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

# for image engine
XSendFile on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^images/(.*)?$ images/?filename=$1 [L]

# for post request mapping
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^posts/(.*)?$ posts/?slug=$1 [L]
RewriteRule ^(.*)?$ posts/?slug=$1 [L]

# NOTE: for image engine, this needs to be set in the apache config file,
#		it can't be set in .htaccess
# XSendFilePath /path/you/want/to/serve/from
